.cartMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cartMenu div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartMenu h2{
    font-size: medium;
}

.cart-image{
    width: 15%;
}
.cart-image img {
    width: 100%;
}

.cart-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart-info div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.shopBox{
    margin-top: 50px;
    border-top: 2px solid black;
}
form.form-contact {
    display: flex;
    flex-direction: column;
    padding: 50px;
    
  }
  
  form.form-contact > div {
    margin-bottom: 15px;
    
  }
  
  form.form-contact button {
    margin: 10px;
    background: black;
      border-radius: 40px;
      text-transform: none;
      color: white;
      font-family: 'Lato';
      padding: 10px 20px;
      font-size: 14px;cursor: pointer;}

      form.form-contact input {
        margin: 15px;
      }