.cartMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cartMenu div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartMenu h2{
    font-size: medium;
}

.cart-image{
    width: 15%;
}
.cart-image img {
    width: 100%;
}

.cart-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart-info div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
